@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    border-spacing: 0;
    border: 2px solid #ff85b3;
    background-color: rgb(243 244 246);
    color: rgb(100 116 139);
}

tr:last-child td {
    border-bottom: 0;
}

th,
td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 2px solid #ff85b3;
    border-right: 2px solid #ff85b3;
}
